In [ ]:
#Create a function that takes in a positive integer
def sort_number(n):
    if n == "":
        return 111111
    elif n > 0:
        n = str(n)
        digitlist = []
        for element in n:
            digitlist.append(element)
        digitlist.sort(reverse=True)
        joined = ''.join(digitlist)
        return joined

In [19]:
#test code
sort_number(457891)
print(sort_number(43905))
print(sort_number(584366))

95430
866543

In [21]:
#import pandas 
import pandas as pd
jeopardy_path = 'JEOPARDY_CSV.csv'
jeopardy_data = pd.read_csv(jeopardy_path)

In [29]:
jeopardy_data.head(-1)

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams
...,...,...,...,...,...,...,...
216924,4999,5/11/2006,Double Jeopardy!,OFF-BROADWAY,"$2,000",In 2006 the cast of this long-running hit emba...,Stomp
216925,4999,5/11/2006,Double Jeopardy!,RIDDLE ME THIS,"$2,000",This Puccini opera turns on the solution to 3 ...,Turandot
216926,4999,5/11/2006,Double Jeopardy!,"""T"" BIRDS","$2,000",In North America this term is properly applied...,a titmouse
216927,4999,5/11/2006,Double Jeopardy!,AUTHORS IN THEIR YOUTH,"$2,000","In Penny Lane, where this ""Hellraiser"" grew up...",Clive Barker
216928,4999,5/11/2006,Double Jeopardy!,QUOTATIONS,"$2,000","From Ft. Sill, Okla. he made the plea, Arizona...",Geronimo

In [9]:
#Answers to questions
# a. There are 216929 rows.  
# b. A row represents a question from each category and episode of jeopardy from show numbers 4680 to 4999.
# c. This data could help you identify the most common question answer during this time frame.

# What jeopardy answer was most common from Dec 2004 to May 2006?

In [82]:
grouped_jeopardy = jeopardy_data.groupby(by=' Answer')
answer_count = grouped_jeopardy[' Answer'].count()
print((answer_count).sort_values(ascending = False))

 Answer
China        216
Australia    215
Japan        196
Chicago      194
France       193
            ...
a bongo        1
a bonfire      1
a bone         1
a bonbon       1
 Hamlet        1
Name:  Answer, Length: 88236, dtype: int64

In [ ]:
#China was the most common answer to jeopardy questions during this time period.