### Heroes Of Pymoli Data Analysis

-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [188]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [91]:
Number_Players = purchase_data['SN'].nunique()
#print(Number_Players)
Number_of_Players = {"Total Players": [Number_Players]}
Number_of_Players_df = pd.DataFrame(Number_of_Players)
Number_of_Players_df.style.format({"Total Players": '{:.0f}'})

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#print(purchase_data.head())
#print(purchase_data.describe())
Unique_id = purchase_data['Item ID'].unique()
number_unique_items = len(Unique_id)
Mean_price = purchase_data['Price'].mean()
num_purchases = purchase_data['Purchase ID'].unique()
number_purchases = len(num_purchases)
total_revenue = purchase_data['Price'].sum()


summary_purchase_data = {"Number of Unique Items": [number_unique_items], 
                        "Average Price": [Mean_price],
                        "Number of Purchases": [number_purchases],
                        "Total Revenue": [total_revenue]}
summary_df = pd.DataFrame(summary_purchase_data)
summary_df.style.format({"Average Price": '${:.2f}', "Total Revenue": '${:.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [186]:
Total_Count_Players = purchase_data['SN'].nunique()
Players_by_Gender = purchase_data.groupby('Gender')['SN'].nunique()
#print(Total_Count_Players)
Total_Count_Male = Players_by_Gender.loc['Male']
Total_Count_Female = Players_by_Gender.loc['Female']
Total_Count_Other = Players_by_Gender.loc['Other / Non-Disclosed']
Percent_Males = (Total_Count_Male/Total_Count_Players) * 100
Percent_Females = (Total_Count_Female/Total_Count_Players) * 100
Percent_Other = (Total_Count_Other/Total_Count_Players) * 100
#print(Percent_Males,Percent_Females, Percent_Other)
summary_gender_data = {"": ['Male', 'Female', 'Other / Non-disclosed'],
                       "Total Count": [Total_Count_Male, Total_Count_Female, Total_Count_Other], 
                       "Percentage of Players": [Percent_Males, Percent_Females, Percent_Other]}
summary_gender_df = pd.DataFrame(summary_gender_data)
new_gender_df = summary_gender_df.set_index('')
new_gender_df.style.format({"Percentage of Players":'{:.2f}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [137]:
Players_by_gender = purchase_data.groupby('Gender')
Avg_Price_by_Gender = Players_by_gender['Price'].mean()
Purchase_Count_by_Gender = Players_by_gender['Purchase ID'].count()
Total_Purchase_Value_By_Gender = Players_by_gender['Price'].sum()
Total_Count_by_Gender = Players_by_gender['SN'].nunique()
Average_Total_Purchase = (Total_Purchase_Value_By_Gender/Total_Count_by_Gender)
Analysis_DataFrames = [Purchase_Count_by_Gender, Avg_Price_by_Gender, Total_Purchase_Value_By_Gender, Average_Total_Purchase]
Analysis_DataFrames_merged = pd.concat(Analysis_DataFrames, axis=1, keys=["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase Per Person"])
#print(Analysis_DataFrames_merged)
Analysis_DataFrames_merged.style.format({"Average Purchase Price": '${:.2f}', "Total Purchase Value": '${:.2f}', "Avg Total Purchase Per Person": '${:.2f}'})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [175]:
age_bins = [0,9,14,19,24,29,34,39,150]
age_labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
Total_Count_Players = purchase_data['SN'].nunique()
pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], age_bins, labels=age_labels)
grouped_age_purchase_data = purchase_data.groupby("Age Group")
Count_by_Age = grouped_age_purchase_data["SN"].nunique()
Percent_by_Age = (Count_by_Age/Total_Count_Players)*100
Age_merged = pd.merge(Count_by_Age, Percent_by_Age, on="Age Group", suffixes=('_Total Count','_Percentage of Players'))
Age_merged.style.format({'SN_Percentage of Players':'{:.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [185]:
purchase_count=grouped_age_purchase_data['Purchase ID'].count()
avg_purchase_price = grouped_age_purchase_data['Price'].mean()
total_purchase_value = grouped_age_purchase_data['Price'].sum()
total_players_per_age = grouped_age_purchase_data['SN'].nunique()
avg_total_purchase_per_person = total_purchase_value/total_players_per_age
Age_Data_Frames = [purchase_count, avg_purchase_price, total_purchase_value, avg_total_purchase_per_person]
PurchasebyAge_DataFrames_merged = pd.concat(Age_Data_Frames, axis=1, keys=["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase Per Person"])
PurchasebyAge_DataFrames_merged.style.format({"Average Purchase Price": '${:.2f}', "Total Purchase Value": '${:.2f}', "Avg Total Purchase Per Person": '${:.2f}'})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [214]:
grouped_sn_purchase_data = purchase_data.groupby('SN')
total_purchases = grouped_sn_purchase_data['Purchase ID'].count()
total_per_person = grouped_sn_purchase_data['Price'].sum()
average_per_person = total_per_person/total_purchases
Top_Spender_DataFrames = [total_purchases, average_per_person, total_per_person]
Top_Spender_DataFrames_merged = pd.concat(Top_Spender_DataFrames, axis=1, keys=["Purchase Count","Average Purchase Price","Total Purchase Value"])
Top_Spender_Sorted = Top_Spender_DataFrames_merged.sort_values(by='Total Purchase Value',ascending=False).head()
Top_Spender_Sorted.style.format({"Average Purchase Price": '${:.2f}', "Total Purchase Value": '${:.2f}'})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [254]:
grouped_purchase_count = purchase_data.groupby('Item ID')
Number_per_item = grouped_purchase_count['Purchase ID'].count()
total_purchase_value = grouped_purchase_count['Price'].sum()
item_price = pd.merge(total_purchase_value, Number_per_item, on='Item ID')
#print(item_price)
Popular_Items_DataFrames = [Number_per_item, total_purchase_value]
Popular_DataFrames_merged = pd.concat(Popular_Items_DataFrames, axis=1, keys=["Purchase Count", "Total Purchase Value"])
Popular_Sorted = Popular_DataFrames_merged.sort_values(by='Purchase Count',ascending=False).head()
Popular_Sorted.style.format({"Total Purchase Value": '${:.2f}'})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [257]:
Popular_Sorted = Popular_Sorted.sort_values(by='Total Purchase Value', ascending = False).head()
Popular_Sorted.style.format({"Total Purchase Value": '${:.2f}'})