# Group Activity May 5th

1. Write a function that calculates the dot product manually AND a function that
calculates the cross product manually. Both should accept two vectors and perform
that calculation. Be sure to use try except and error handling for basic issues that
might occur.

# Manual Dot Product Function

In [297]:
import numpy as np
v = np.array([1,2,1])
v2 = np.array([2,4,4])
v2.T

array([2, 4, 4])

In [307]:
def dot_product(v,v2):
    try:
        for i,j in zip(v,v2): 
                dot_product=(v*v2)
        new_array = dot_product.sum(axis=0)
        return new_array
    except:
        return "An error occured when trying to compute the dot product"

In [308]:
dot_product(v,v2.T)

14

In [383]:
v = np.array([[1,2,1]])
v2 = np.array([[2,-4,4]])

In [384]:
def dot_product2(v,v2):
    try:
        dot_product = (v[0,0]*v2[0,0])+(v[0,1]*v2[1,0])+(v[0,2]*v2[2,0])
        return dot_product
    except:
        return "An error occured when trying to compute the cross product. This function only works for arrays with shapes (1,3) and (3,1)."

In [385]:
dot_product2(v,v2.T)

-2

# Manual Cross Product Function

In [386]:
v = np.array([[1,2,1]])
v2 = np.array([[2,4,4]])
print(v.shape)

(1, 3)

In [387]:
def cross_product(v,v2):
    try:
        cross_product = [[(v[0,1]*v2[0,2]-v[0,2]*v2[0,1])],[-(v[0,0]*v2[0,2]-v[0,2]*v2[0,0])],[(v[0,0]*v2[0,1]-v[0,1]*v2[0,0])]]
        return cross_product
    except:
        return "An error occured when trying to compute the cross product. This function only works for arrays with shape (1,3)"

In [388]:
cross_product(v,v2)

[[4], [-2], [0]]

In [389]:
#Test using the built-in cross product function.
np.cross(v,v2)

array([[ 4, -2,  0]])

# 2.  One Hot Encoding
In a markdown section in your notebook, explain what one hot encoding is and why we
use it. Then, manually calculate a one hot encoding for the Belize_Airbnb_listings.csv
neighborhood_group column. Note: manually means donâ€™t use scikitlearn or keras.

One hot encoding means that you convert categorical data into numbers.  This can  make interpretation faster and can allow for machine learning algorithms to interpret the data.

In [391]:
# import necessary modules and read in csv file with Belize data
import pandas as pd
filepath_belize = '../week_05/belize_airbnb_listings.csv'
belize_df = pd.read_csv(filepath_belize)
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [394]:
belize_df['neighbourhood_group'].value_counts()

Belize         1574
Stann Creek     577
Cayo            505
Corozal          65
Toledo           47
Orange Walk      28
Name: neighbourhood_group, dtype: int64

In [395]:
neighborhoods = ['Belize', 'Stann Creek', 'Cayo', 'Corozal', 'Toledo', 'Orange Walk']

In [396]:
#Map neighborhoods to an integer
char_to_int = dict((c, i) for i, c in enumerate(neighborhoods))

In [397]:
print(char_to_int)

{'Belize': 0, 'Stann Creek': 1, 'Cayo': 2, 'Corozal': 3, 'Toledo': 4, 'Orange Walk': 5}

In [398]:
int_to_char = dict((i, c) for i, c in enumerate(neighborhoods))

In [399]:
print(int_to_char)

{0: 'Belize', 1: 'Stann Creek', 2: 'Cayo', 3: 'Corozal', 4: 'Toledo', 5: 'Orange Walk'}

In [411]:
# integer encode input data
integer_encoded = [char_to_int[char] for char in neighborhoods]
print(integer_encoded)
# one hot encode
onehot_encoded = list()
for value in integer_encoded:
    n = [0 for _ in range(len(neighborhoods))]
    n[value] = 1
    onehot_encoded.append(n)
print(onehot_encoded)
# invert encoding
inverted = int_to_char[np.argmax(onehot_encoded[5])]
print(inverted)

[0, 1, 2, 3, 4, 5]
[[1, 0, 0, 0, 0, 0], [0, 1, 0, 0, 0, 0], [0, 0, 1, 0, 0, 0], [0, 0, 0, 1, 0, 0], [0, 0, 0, 0, 1, 0], [0, 0, 0, 0, 0, 1]]
Orange Walk