# Question 1. Make sure you can get the API from class to work in Azure. Take a screenshot of it working and add the image to a jupyter notebook.

![alt text](FlaskAppScreenshot.png "Flask App Screenshot")

# Question 2. Loop through the API data in python using your new endpoint and save the results to a dataframe.

In [4]:
#import necessary modules
import requests
import pandas as pd
import json
import bs4
import re

#set base url
base_url = "https://flask-app-class-demo-44.azurewebsites.net/gdp/"
#list comprehension to create a list of years to loop through
years = [year for year in range(1960,2020,1)]
#create an empty gdp list
gdp_list=[]

#create a for loop to loop through years
for year in years:
   
    #set full url path
    full_request = base_url + str(year)

    #perform a request
    req = requests.get(full_request)
    #optional: set request encoding
    req.encoding = 'utf-8'
    #save request as text
    content=req.text
    #convert to a readible format using beautiful soup
    new_content=bs4.BeautifulSoup(content)
    # save the new output as a text string
    content_string=new_content.text
    #Remove all text outside of curly braces
    modified_string = re.search('{.*}',content_string).group(0)
    #replace single quotes with double quotes
    json_string = modified_string.replace("'", '"')
    #load string as json
    gdp_data = json.loads(json_string)

    #append each desired output of string to a list
    gdp_list.append([gdp_data['indicator']['id'], gdp_data['indicator']['value'], gdp_data['country']['id'], gdp_data['country']['value'], gdp_data['countryiso3code'],
                        gdp_data['date'], gdp_data['value']])

#turn list into dataframe
gdp_df = pd.DataFrame(gdp_list, columns=['indicator_id', 'indicator_value', 'country_id', 'country_value','countryiso3code','date','value'])

In [5]:
gdp_df.head()

,indicator_id,indicator_value,country_id,country_value,countryiso3code,date,value
0,NY.GDP.MKTP.CD,GDP (current US$),US,United States,USA,1960,543300000000
1,NY.GDP.MKTP.CD,GDP (current US$),US,United States,USA,1961,563300000000
2,NY.GDP.MKTP.CD,GDP (current US$),US,United States,USA,1962,605100000000
3,NY.GDP.MKTP.CD,GDP (current US$),US,United States,USA,1963,638600000000
4,NY.GDP.MKTP.CD,GDP (current US$),US,United States,USA,1964,685800000000